# Copyright 2015 Yahoo Inc. Licensed under the Apache License, Version 2.0
# See accompanying LICENSE file.

# This is the main configuration file for the application.
# ~~~~~

# Secret key
# ~~~~~
# The secret key is used to secure cryptographics functions.
# If you deploy your application to several instances be sure to use the same key!
play.crypto.secret="^<csmm5Fx4d=r2HEX8pelM3iBkFVv?k[mc;IZE<_Qoq8EkX_/7@Zt6dP05Pzea3U"
play.crypto.secret=${?APPLICATION_SECRET}

# The application languages
# ~~~~~
play.i18n.langs=["en"]

play.http.requestHandler = "play.http.DefaultHttpRequestHandler"

play.application.loader=loader.KafkaManagerLoader
kafka-manager.zkhosts="{{ $zk_defs := split (getenv "ZK_SERVICE") ","}}{{range $i, $zk_def := $zk_defs}}{{if $i}}{{printf ","}}{{end}}{{ $zk_link := split $zk_def "/" }}{{$zk_stack := index $zk_link 0}}{{ $zk_service := index $zk_link 1}}{{range $i, $e := ls (printf "/stacks/%s/services/%s/containers" $zk_stack $zk_service)}}{{if $i}}{{printf ","}}{{end}}{{getv (printf "/stacks/%s/services/%s/containers/%s/primary_ip" $zk_stack $zk_service $e)}}:2181{{end}}{{end}}"
pinned-dispatcher.type="PinnedDispatcher"
pinned-dispatcher.executor="thread-pool-executor"
application.features=["KMClusterManagerFeature","KMTopicManagerFeature","KMPreferredReplicaElectionFeature","KMReassignPartitionsFeature"]

akka {
  loggers = ["akka.event.slf4j.Slf4jLogger"]
  loglevel = "INFO"
}


basicAuthentication.enabled=false
basicAuthentication.username="admin"
basicAuthentication.password="passw0rd"
basicAuthentication.realm="Kafka-Manager"    
